table {
  border-collapse: collapse;
}
th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #f2f2f2;
  font-weight: bold;
}
td.number {
  text-align: right;
}

#cat {
  position: absolute;
}
#hat {
  position: absolute;
}
.balloon {
  font-size: 20px;
}
